In [1]:
import pandas as pd
import numpy as np
s=pd.Series([1,3,6,np.nan,44,1])
dates=pd.date_range('20161110',periods=6)
dates

DatetimeIndex(['2016-11-10', '2016-11-11', '2016-11-12', '2016-11-13',
               '2016-11-14', '2016-11-15'],
              dtype='datetime64[ns]', freq='D')

In [2]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=["a","b","c","d"])
df
df1=pd.DataFrame(np.arange(24).reshape(6,4),index=dates,columns=["a","b","c","d"])
df1.dtypes
df1.index
df1.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [3]:
df.T

   2016-11-10  2016-11-11  2016-11-12  2016-11-13  2016-11-14  2016-11-15
a   -0.103753   -0.691981   -0.504503   -0.047766    0.001756   -0.939139
b    1.330658    0.898467   -0.302114    0.054045    0.274918    0.095197
c   -0.247714    0.417291   -0.494654   -0.380863   -0.049236   -0.284704
d   -0.531847    0.504207    0.441725    1.513934   -0.141321   -0.598493

In [4]:
df.describe()

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean  -0.380898  0.391862 -0.173313  0.198034
std    0.389331  0.605871  0.325112  0.795872
min   -0.939139 -0.302114 -0.494654 -0.598493
25%   -0.645112  0.064333 -0.356823 -0.434215
50%   -0.304128  0.185058 -0.266209  0.150202
75%   -0.061763  0.742580 -0.098855  0.488586
max    0.001756  1.330658  0.417291  1.513934

In [5]:
#排序(索引和值)
df.sort_index(axis=1,ascending=False)
df.sort_values(by="a")

                   a         b         c         d
2016-11-15 -0.939139  0.095197 -0.284704 -0.598493
2016-11-11 -0.691981  0.898467  0.417291  0.504207
2016-11-12 -0.504503 -0.302114 -0.494654  0.441725
2016-11-10 -0.103753  1.330658 -0.247714 -0.531847
2016-11-13 -0.047766  0.054045 -0.380863  1.513934
2016-11-14  0.001756  0.274918 -0.049236 -0.141321

In [6]:
#查询
#print(df.a,df["a"])
#print(df[0:3],df["20161110":"20161113"])

#by label
#print(df.loc["20161110"])
#print(df.loc[:,["a","b"]])

#by position
print(df.iloc[3:5,[1,2]])

print(df[(df["a"]>0)&(df["b"]<0)])

                   b         c
2016-11-13  0.054045 -0.380863
2016-11-14  0.274918 -0.049236
Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [7]:
#缺失值
df.iloc[1,2]=np.nan
print(df.dropna(axis=0,how='any'))#how={any,all} axis=0丢掉的是行 all全部等于np,nan的时候丢掉

                   a         b         c         d
2016-11-10 -0.103753  1.330658 -0.247714 -0.531847
2016-11-12 -0.504503 -0.302114 -0.494654  0.441725
2016-11-13 -0.047766  0.054045 -0.380863  1.513934
2016-11-14  0.001756  0.274918 -0.049236 -0.141321
2016-11-15 -0.939139  0.095197 -0.284704 -0.598493

In [8]:
#从字典对象创建DataFrame，并设置索引
data={
   'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [9]:
#取出df的animal和age列
df[["animal","age"]]
df.loc[:,["animal","age"]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [10]:
#取出age值大于3的行
df[(df['age']>2) & (df['age']>4)]

  animal  age  visits priority
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no

In [11]:
#f行的age改为1.5
df["f","age"]=1.5

In [12]:
#计算visits的总和
df["visits"].sum()

19

In [13]:
#计算每个不同种类animal的age的平均数
df.groupby("animal")["age"].mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [14]:
#先按age降序排列，后按visits升序排列
df.sort_values(by=["age","visits"],ascending=[False,True])

  animal  age  visits priority  (f, age)
i    dog  7.0       2       no       1.5
e    dog  5.0       2       no       1.5
g  snake  4.5       1       no       1.5
j    dog  3.0       1       no       1.5
b    cat  3.0       3      yes       1.5
a    cat  2.5       1      yes       1.5
f    cat  2.0       3       no       1.5
c  snake  0.5       2       no       1.5
h    cat  NaN       1      yes       1.5
d    dog  NaN       3      yes       1.5

In [15]:
#将priority列中的yes, no替换为布尔值True, False
df['priority'] = df['priority'].map({'yes': True, 'no': False})

In [16]:
# 将animal列中的snake替换为python
df["animal"]=df["animal"].replace("snake","python")

In [17]:
#每种animal的每种不同数量visits，计算平均age，即，返回一个表格，行是aniaml种类，列是visits数量，表格值是行动物种类列访客数量的平均年龄
df.pivot_table(index="animal",columns="visits",values="age",aggfunc="mean")

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
python  4.5  0.5  NaN

In [18]:
#有一列整数列A的DatraFrame，删除数值重复的行
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df1 = df.drop_duplicates(subset='A')
df1

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [19]:
#求出每行的平均值，用列减去平均值
df=pd.DataFrame(np.random.randn(3,5))
print(df)
df1=df.sub(df.mean(axis=1),axis=0)
print(df1)

          0         1         2         3         4
0  0.950667 -0.694244  0.382576  0.782951  0.367634
1 -1.099750 -0.709499  0.594520 -0.353727  0.451716
2  1.013929  2.135538 -0.565970  1.077266 -0.708390
          0         1         2         3         4
0  0.592750 -1.052161  0.024659  0.425034  0.009718
1 -0.876402 -0.486151  0.817868 -0.130379  0.675064
2  0.423454  1.545063 -1.156444  0.486792 -1.298865

In [20]:
#给定DataFrame，求A列每个值的前3大的B的值的和
df = pd.DataFrame({'A': list('aaabbcaabcccbbc'), 
                   'B': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
print(df)
df1=df.groupby("A")["B"].nlargest(3).sum(level=0)

    A    B
0   a   12
1   a  345
2   a    3
3   b    1
4   b   45
5   c   14
6   a    4
7   a   52
8   b   54
9   c   23
10  c  235
11  c   21
12  b   57
13  b    3
14  c   87

In [21]:
#给定DataFrame，有列A, B，A的值在1-100（含），对A列每10步长，求对应的B的和
df = pd.DataFrame({'A': [1,2,11,11,33,34,35,40,79,99], 
                   'B': [1,2,11,11,33,34,35,40,79,99]})
print(df)
df1=df.groupby(pd.cut(df["A"],np.arange(0,101,10)))["B"].sum()
print(df1)

    A   B
0   1   1
1   2   2
2  11  11
3  11  11
4  33  33
5  34  34
6  35  35
7  40  40
8  79  79
9  99  99
A
(0, 10]        3
(10, 20]      22
(20, 30]       0
(30, 40]     142
(40, 50]       0
(50, 60]       0
(60, 70]       0
(70, 80]      79
(80, 90]       0
(90, 100]     99
Name: B, dtype: int64

In [22]:
#给定DataFrame，计算每个元素至左边最近的0（或者至开头）的距离，生成新列y
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df['Y'] = df.groupby((df['X'] == 0).cumsum()).cumcount()
first_zero_idx = (df['X'] == 0).idxmax()
df['Y'].iloc[0:first_zero_idx] += 1

In [1]:
#one_hot
#pd.getdummies(all_df["M"],prefix="M").head()
#all_dummy_df=pd.get_dummies(all_df)

In [2]:
#数据缺失
#all_dummy_df.isnull().sum().sort_values(ascending=False).head(10)
#mean_cols=all_df.mean()
#all_dummy_df=all_dummy_df.fillna(mean_cols)

In [3]:
#查看numerical数据
#numerical_cols=all_df.columns[all_df.dtypes!="object"]

In [ ]:
#参数与图
for param in params:
    clf = BaggingRegressor(n_estimators=param, base_estimator=ridge)
    test_score=np.sqrt(-cross_val_score(clf,X_train,y_train,cv=10,scoring="neg_mean_squared_error"))
    test_scores.append(np.mean(test_score))
import matplotlib.pyplot as plt
%matplotlib inline
plt.plot(params, test_scores)
plt.title("n_estimator vs CV Error");